/* ATTRIBUTES */

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Sacramento', cursive;
  font-size: 88px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}

.h2-2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 0;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted lightgrey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 2.5%;

}
p {
  font-family: 'Merriweather', serif;
}



/* CLASS-ID */

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 600px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright-footer {
  color: #EAF6F6;
  font-size: 12px;
  font-weight: bold;
}

.developer {
  text-decoration: underline;
}

.git-gif {
  width: 50px;
}

.html-giphy {
  width: 25%;
  float: left;
}

.languages {
  text-align: left;
}

.middle-container {
  line-height: 2;
}

.mountain {
  position: relative;
  bottom: 0;
}

.mail-com-giphy {
  width: 25%;
  float: right;
}

.profile {
  padding-top: 50px;
  text-align: left;
}

.profile-pic {
  margin-left: 25px;
  margin-right: 50px;
}

.profile-row {
  display: inline-block;
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.think-giphy {
  width: 25%;
  float: left;
}

.top-cloud {
  position: absolute;
  bottom: 550px;
  right: 600px;
}

.top-container {
  background-color: #E4EFE7;
  position: relative;
  padding-top: 170px;
}
